* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logotipo {
  padding: 0px;
  font-weight: 600;
}
.envoltura-cabezado {
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.menu {
  display: flex;
  gap: 45px;
  margin-right: 20px;
  align-items: center;
}
.menu > a {
  color: silver;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.subtitulo-menu:hover {
  color: white;
}
main {
  flex: 1;
  margin-top: 120px;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.icono-menu {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/*=============footer==================*/
#visitanos-en {
  padding: 20px;
  background-color: gray;
  display: flex;
  justify-content: center;
  gap: 30px;
}
#visitanos-en > p {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hipervinculos-extra {
  display: flex;
  gap: 10px;
}
#derechos > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: 500;
  margin-left: 60px;
  font-size: 13px;
}
#deco-logo {
  margin-right: 60px;
}
#derechos {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgb(40, 40, 59);
  width: 100%;
  height: 110px;
  justify-content: space-between;
}
