<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/sucursales.css" />
</head>

<body>
  <header class="envoltura-cabezado">
    <figure id="logo">
      <a href="{{url_for('index')}}">
        <img src="../static/imagenes/logo6.png" alt="MT Motors Logo" width="300">
      </a>
    </figure>

    <button id="hamburger" aria-label="Abrir menú">
      <img src="../static/imagenes/hambur-logo.png" alt="Menú" class="icono-hamburguesa">
    </button>

    <nav id="navOficial">
      <ul>
        <li>
          <a href="{{url_for('modelos')}}" class="subtitulo-menu">
            MODELOS
          </a>
        </li>
        <li>
          <a href="{{url_for('cuenta')}}" class="subtitulo-menu">INICIA SESIÓN</a>
        </li>
        <li>
          <a href="{{url_for('sucursales')}}" class="subtitulo-menu">SUCURSALES</a>
        </li>
        <li>
          <a href="{{url_for('contactos')}}" class="subtitulo-menu">CONTACTOS</a>
        </li>
      </ul>
    </nav>
  </header>
  <div id="contenedor-principal">
    <aside class="sidebar">
      <h3>Elige tu ubicación</h3>
      <select class="selector" id="filtro-region">
        <option>Región</option>
        <option>Lima</option>
        <option>Arequipa</option>
        <option>Tacna</option>
        <option>Cusco</option>
      </select>

      <h3>Filtrar por servicios</h3>
      <label><input type="checkbox" value="Todos" checked /> Todos</label>
      <label><input type="checkbox" value="Ventas" /> Ventas</label>
      <label><input type="checkbox" value="Servicios" /> Servicios</label>
      <label><input type="checkbox" value="Repuestos" /> Repuestos</label>
    </aside>

    <!-- Contenido principal -->
    <main class="content">
      <h1>RED DE CONCESIONARIOS</h1>

      <!-- CARD 1 -->
      <div class="card" data-region="Lima" data-servicios="Ventas">
        <div class="card-img" style="
              --img: url(&quot;https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcT2T4tOJqZZwpAV3CZgven0TJjOieoi7mj43UmPxYxow4zv6t4NTlJw4UOeamvRa68DXOX78w01UqnCCtk4E2b0g4O2&s=19&quot;);
            "></div>
        <div class="card-body">
          <span class="tag">Ventas</span>
          <h2>MT | LIMA</h2>
          <p class="direccion">Av. Independencia</p>
          <div class="seccion">
            <h4>Ventas</h4>
            <p>Lunes a Viernes: 09:00 - 20:00</p>
            <p>Sábado: 10:00 - 18:00</p>
            <p>Domingo: 10:00 - 15:00</p>
          </div>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="card" data-region="Arequipa" data-servicios="Ventas Repuestos">
        <div class="card-img" style="
              --img: url(&quot;https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcS4eMoYECG9ZRBgz4LIxSdsl9rp_0buQjSKsWrCjelhUdrbmA26HJ401OB2phJ6ISFEQHi4s59dQUhUAaLz1FQi9yU&s=19&quot;);
            "></div>
        <div class="card-body">
          <span class="tag">Ventas</span>
          <span class="tag">Repuestos</span>
          <h2>MT | AREQUIPA</h2>
          <p class="direccion">Av. Alfredo Benavides</p>
          <div class="seccion">
            <h4>Servicios</h4>
            <p>Lunes a Viernes: 07:00 - 17:00</p>
            <p>Sábado: 07:00 - 13:00</p>
          </div>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="card" data-region="Tacna" data-servicios="Ventas">
        <div class="card-img" style="
              --img: url(&quot;https://peru.info/archivos/publicacion/178-imagen-930171942022.jpg&quot;);
            "></div>
        <div class="card-body">
          <span class="tag">Ventas</span>
          <h2>MT | TACNA</h2>
          <p class="direccion">Av. Tacna</p>
          <div class="seccion">
            <h4>Ventas</h4>
            <p>Lunes a Sábado: 09:00 - 18:00</p>
          </div>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="card" data-region="Cusco" data-servicios="Servicios Repuestos">
        <div class="card-img" style="
              --img: url(&quot;https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQ0TOO_XUDmDKBTlSUZMRVQXIpk7PXDOi5sfMPm8knokqKyReS8qV0chMrsxkATGf0VzJ6vLqtihiv-PI_ciEMuQqE&s=19&quot;);
            "></div>
        <div class="card-body">
          <span class="tag">Servicios</span>
          <span class="tag">Repuestos</span>
          <h2>MT | CUSCO</h2>
          <p class="direccion">Av. La Marina</p>
          <div class="seccion">
            <h4>Servicios</h4>
            <p>Lunes a Viernes: 08:00 - 17:30</p>
            <p>Sábado: 08:00 - 13:00</p>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer class="pie-pagina">
    <div class="footer-contenedor">
      <div id="visitanos-en">
        <p>Visítanos también en:</p>
        <div id="hipervinculos-extra">
          <a href="https://www.youtube.com/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/4401/4401475.png" alt="YouTube" class="icon-social">
          </a>
          <a href="https://x.com/" target="_blank">
            <img src="../static/imagenes/x-logo.png" alt="X" class="icon-social">
          </a>
          <a href="https://www.facebook.com/" target="_blank">
            <img src="https://www.pngarts.com/files/10/Vector-Facebook-Logo-Black-And-White-PNG-Transparent-Image.png"
              alt="Facebook" class="icon-social">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/4401/4401407.png" alt="Instagram" class="icon-social">
          </a>
          <a href="https://www.tiktok.com/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/3670/3670299.png" alt="TikTok" class="icon-social">
          </a>
        </div>
      </div>

      <hr class="separador-footer">
      <div id="derechos">
        <p>&copy; 2025 MT MOTORS PERÚ - TODOS LOS DERECHOS RESERVADOS</p>
        <div id="deco-logo">
          <img src="../static/imagenes/derco.png" alt="logo-derco">
        </div>
      </div>
    </div>
  </footer>
  <script src="../static/scripts/sucursales.js"></script>
  <script src="../static/scripts/script.js"></script>
</body>

</html>